n8n-workflows/rag-assistant.json
{
  "name": "RAG Assistant - Claude Sonnet + Pinecone",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "rag-assistant-query"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.first().json.body;\nconst query = body.query;\nconst department = body.department || null;\nconst userId = body.userId || 'anonymous';\nconst sessionId = body.sessionId || 'default';\n\nif (!query || query.trim().length === 0) {\n  throw new Error('Query is required');\n}\n\nreturn {\n  query: query.trim(),\n  department: department,\n  userId: userId,\n  sessionId: sessionId,\n  timestamp: new Date().toISOString(),\n  requestId: `req_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`\n};"
      },
      "id": "preprocess-query",
      "name": "Preprocess Query",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputData = $input.first().json;\nconst apiKey = $env.PYTHON_SERVICE_API_KEY;\n\nreturn this.helpers.request({\n  method: 'POST',\n  uri: 'http://python-service:8001/search',\n  headers: {\n    'Content-Type': 'application/json',\n    'X-API-Key': apiKey\n  },\n  body: {\n    query: inputData.query,\n    top_k: 5,\n    department: inputData.department\n  },\n  json: true\n}).then(response => [{ json: response }]);"
      },
      "id": "search-pinecone",
      "name": "Search Pinecone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "functionCode": "const queryData = $('Preprocess Query').first().json;\nconst searchResults = $input.first().json.results;\n\nlet context = '';\nlet sources = [];\n\nif (searchResults && searchResults.length > 0) {\n  context = searchResults.map((result, index) => {\n    sources.push({\n      title: result.title,\n      source: result.source,\n      department: result.department,\n      score: result.score\n    });\n    return `[${index + 1}] ${result.title}\\nSource: ${result.source}\\nDepartment: ${result.department}\\nContent: ${result.content}\\n`;\n  }).join('\\n---\\n\\n');\n} else {\n  context = 'No relevant documents found in the knowledge base.';\n}\n\nconst prompt = `You are a helpful enterprise assistant with access to company documents. Answer the user's question based on the provided context.\\n\\n## Context from Company Documents:\\n${context}\\n\\n## User Question:\\n${queryData.query}\\n\\n## Instructions:\\n- Answer based primarily on the provided context\\n- If the context does not contain enough information, clearly state this\\n- Provide specific references to source documents when possible\\n- Be concise but comprehensive\\n- Use a professional but friendly tone\\n\\n## Answer:`;\n\nreturn {\n  prompt: prompt,\n  query: queryData.query,\n  sources: sources,\n  requestId: queryData.requestId,\n  userId: queryData.userId,\n  sessionId: queryData.sessionId,\n  department: queryData.department\n};"
      },
      "id": "prepare-claude-prompt",
      "name": "Prepare Claude Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputData = $input.first().json;\nconst claudeApiKey = $env.CLAUDE_API_KEY;\n\nreturn this.helpers.request({\n  method: 'POST',\n  uri: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': claudeApiKey,\n    'anthropic-version': '2023-06-01'\n  },\n  body: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 1000,\n    messages: [{ role: 'user', content: inputData.prompt }]\n  },\n  json: true\n}).then(response => [{ json: response }]);"
      },
      "id": "call-claude",
      "name": "Call Claude Sonnet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "functionCode": "const promptData = $('Prepare Claude Prompt').first().json;\nconst claudeResponse = $input.first().json;\n\nlet answer = '';\nif (claudeResponse.content && claudeResponse.content.length > 0) {\n  answer = claudeResponse.content[0].text;\n} else {\n  answer = 'I apologize, but I was unable to generate a response. Please try again.';\n}\n\nreturn {\n  answer: answer,\n  query: promptData.query,\n  sources: promptData.sources,\n  metadata: {\n    requestId: promptData.requestId,\n    userId: promptData.userId,\n    sessionId: promptData.sessionId,\n    department: promptData.department,\n    timestamp: new Date().toISOString(),\n    model: 'claude-sonnet-4-20250514',\n    sourceCount: promptData.sources.length\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Format Response').first().json) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const inputData = $input.first().json;\n\nreturn this.helpers.request({\n  method: 'POST',\n  uri: 'http://backend:8000/api/conversations/log',\n  headers: { 'Content-Type': 'application/json' },\n  body: {\n    query: inputData.query,\n    answer: inputData.answer,\n    sources: inputData.sources,\n    metadata: inputData.metadata\n  },\n  json: true\n}).catch(() => [{ json: inputData }]).then(() => [{ json: inputData }]);"
      },
      "id": "log-conversation",
      "name": "Log Conversation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 500]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Preprocess Query", "type": "main", "index": 0 }]]
    },
    "Preprocess Query": {
      "main": [[{ "node": "Search Pinecone", "type": "main", "index": 0 }]]
    },
    "Search Pinecone": {
      "main": [[{ "node": "Prepare Claude Prompt", "type": "main", "index": 0 }]]
    },
    "Prepare Claude Prompt": {
      "main": [[{ "node": "Call Claude Sonnet", "type": "main", "index": 0 }]]
    },
    "Call Claude Sonnet": {
      "main": [[{ "node": "Format Response", "type": "main", "index": 0 }]]
    },
    "Format Response": {
      "main": [[
        { "node": "Respond", "type": "main", "index": 0 },
        { "node": "Log Conversation", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": true,
  "settings": {
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1"
}
